<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AccountingEntities" connectionString="metadata=res://*/ApplicationData.Model1.csdl|res://*/ApplicationData.Model1.ssdl|res://*/ApplicationData.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-SD3UMCG;initial catalog=&quot;Учет компьютерной техники&quot;;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>